<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>default</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>asr-releases</id>
                    <name>ASR Releases</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                    <url>https://artifactory.corp.adobe.com/artifactory/maven-asr-release</url>
                </repository>
                <repository>
                    <id>asr-snapshots</id>
                    <name>ASR Snapshots</name>
                    <releases>
                        <enabled>false</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                    <url>https://artifactory.corp.adobe.com/artifactory/maven-asr-snapshot</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>asr-snapshots</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>ecomm.artifactory.release</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>snapshots-repo</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>ecomm.artifactory.production</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>ecomm.artifactory.thirdparty.snapshot</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>ecomm.artifactory.thirdparty.release</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>ecomm.artifactory.maven-qsm-libs-snapshot</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>ecomm.artifactory.maven-qsm-libs-snapshots</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>ecomm.artifactory.maven-qsm-libs-release</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
	
        <server>
            <id>ecomm.artifactory.maven-qsm-golive-snapshot-local</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>ecomm.artifactory.maven-qsm-ext-snapshot-local</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>ecomm.artifactory.maven-qsm-libs-snapshot-local</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>ecomm.artifactory.maven-payments-snapshot</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>ecomm.artifactory.snapshots</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id> com.adobe_services.paymentrequest</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>floodgate.release</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>floodgate.snapshot</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>hoolihan</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        
        <server>
            <id>maven-cloud-action</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>asr-releases</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>libs-snapshot</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>central</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>bps-platform-snapshot</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>bps-platform-release</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>jidoka-snapshot</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>jidoka-release</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
        <server>
            <id>maven-jidoka-release-local</id>
             <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_API_TOKEN}</password>
        </server>
    </servers>
</settings>
